<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="apple-touch-icon" sizes="72x72" href="images/ipad-icon.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="styles/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="styles/scroller.css" rel="stylesheet" type="text/css" media="all" />
<link href="styles/article.css" rel="stylesheet" type="text/css" media="all" />
<link href="styles/tiptip.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="scripts/custom.js"></script>
<style>
    .fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
        display: none !important;
    }
</style>

<script type="text/javascript">
        $(document).ready(function()
                                   
        {
            $('.share').click( function(){
                        hideAllWindow();
                        /*$('#socialShare').toggle().delay(5000).fadeOut();*/
 if ($('#socialShare').css("display") == "none") {

                    $('#socialShare').show();
                }
                else{

                    $('#socialShare').hide();
                }
                        return false;
            });
                          if (navigator.onLine) {
                          }
                          else{
                          $('.share').parent('li').fadeOut();
                          $('#adSpace').fadeOut();
                          $('#artData').removeClass('Multi-cols');
                          $('#artData').addClass('savedMulti-cols');
                          }
                          checkConnection();  
                         
                          });


function checkConnection(){

    window.addEventListener('online', function(e) {
                            //alert("inside online");   
                            
                            $('.search').parent('li').fadeIn();
                            $('.share').parent('li').fadeIn();
                            $('#adSpace').fadeIn();
                            $('#artData').removeClass('savedMulti-cols');
                            $('#artData').addClass('Multi-cols');
                            
                            console.log('ONLINE Event!' + i);
                            getBreakingNews();
                            //refereshHomeScreen();
                            }, false);
    
    window.addEventListener('offline', function(e) {
                            console.log('Offline Event' + i);
                            i = i + 1;
                            //alert("inside offline");
                            //checkConnection();
                            
                           
                            $('.search').parent('li').fadeOut();
                            $('.share').parent('li').fadeOut();
                            $('#adSpace').fadeOut();
                            $('#artData').removeClass('Multi-cols');
                            $('#artData').addClass('savedMulti-cols');
                            $("#art_tab").attr("id","savedArt_tab");
                            console.log('ONLINE Event!' + i);
                             getBreakingNews();
                            }, false);
}
</script>



<div id="commentsOverlay"></div> 

<div class="article-content">
<header>
<!-- analytics code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38464481-1']);
  _gaq.push(['_setDomainName', 'thehindu.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- analytics code ends here -->
<h3 id="artSection">&nbsp;</h3>
<ul class="controls">
    <li><a href="javascript:void(0)" class="fontSizeMinus" style="-webkit-tap-highlight-color:transparent"  id="fontSizeMinus">-A</a></li>
    <li><a href="javascript:void(0)" class="fontSizePlus" style="-webkit-tap-highlight-color:transparent" id="fontSizePlus">+A</a></li>
    <li class="comments" style="-webkit-tap-highlight-color:transparent"><span id="commentCount" ></span></li>
<li><a href="javascript:void(0)" class="share" style="-webkit-tap-highlight-color:transparent" ><img src="images/icons/icon_share.svg" alt="Share Article"/></a></li>
</ul>
<!--   comments tab starts here -->
<div id="comments_tab">
      
        <ul class='commentstab'>
        <li><a  class="active"><span>Comments</span></a></li>
        <!-- <li><a href="#recommended"><span>Recommended</span></a></li> -->
        </ul>

    <!-- manage_section end here //-->
    <div id="comments">
            <div id="commentsScroller">
                <div id="Commentslist">

                    
                </div> <!-- // Commentslist end -->
            </div>        
    </div><!-- comments end here //-->
    <!-- <div id="recommended">
    </div> -->
<!-- recommended end here //-->
   
</div>    
<!-- comments tab ends here -->
<!-- // This section modified by raghav class="twitter-share-button" //-->
<div id="socialShare">

<a id="twitterA" target="_blank"><img src="images/social/twitter.svg" alt="Twitter" width="" height="" border="0" /></a>
<div class="fb">
<div id="fb-root"></div>
<script src="scripts/new_connect_facebook_all.js"></script>
<script>
 FB.init({appId: "283247265097863", status: true, cookie: true});
</script>
<script type="text/javascript">
$(document).ready(function(){
function shreOnFaceBook(sharelink){
    alert(sharelink);

}
});
</script>

<!--<span id="fbsharebutton">Click me to share</span> -->
<img src="images/social/facebook.svg" id="fbsharebutton" />


</div><!-- fb end here -->
<div id="emailTo_div">
<img id="emailTo" src="images/social/mail.svg" width="" height="" border="0" />
</div>

<!--<a id="facebookA" target="_blank"><img src="images/social/facebook.png" alt="Facebook" width="32" height="32" border="0" /></a> -->

</div><!-- social share end here -->

<h2 id="artHeadline"> <span id="myArticleByLine"> </span></h2>
</header><!-- header end here //-->
    <article> <!-- this is 100% width noo need to change anything //-->
    	<div id="artWrapper"><!-- this is 100% width noo need to change anything //-->
        <div id="artWidthSet"><!-- this div artData need to set dynamically //--> <!-- need to put scroller here  //--> 
    	<div id="artData" class="multi-col">        
        <div class="img">
        <!-- <img src="images/the_hindu-watermark.jpg" width="" height="" alt="" id="pImg" /> 
        <span class="zoom"><img src="images/icons/zoom.png" width="25" height="24" alt="Zoom" /></span> -->
        </div><!-- img end here //-->
        </div><!-- artData end here //-->
        </div> <!-- artWidthSet end here //-->
        </div> <!-- artWrapper end here -->
      
  </article><!-- article end here //-->
	<nav><!-- this is 100% width noo need to change anything -->
    	<div id="headWrapper"> <!-- this is 100% width noo need to change anything -->
        	<div id="headWidthSet"> <!-- this div  has dynamically width set to scroll the content -->
            <ul id="navTab">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
                <li>List item 6</li>
                <li>List item 7</li>
                <li>List item 8</li>
                <li>List item 9</li>
            </ul>
            </div><!-- headWidthSet end  here -->
        </div><!-- nav_width end here //-->
    </nav> <!-- tab navigation here // -->
    <footer id="ArtAdvt">
       <div id="adSpace" class="ad_space">
          <iframe src="" id="iFrameAd" scrolling="no" frameborder="0" width="768" height="90"  marginwidth="0"> </iframe>

        </div>      <!-- // #adSpace end -->
    </footer><!-- footer end here //-->
</div> <!-- article-content end here //-->


