<!-- analytics code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38464481-1']);
  _gaq.push(['_setDomainName', 'thehindu.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- analytics code ends here -->
<div id="secTempsecTempwrapper" class="dashboard">
    
            <div class="column-1">
                <div class="main_article" id="secTempdataMain">
              

                </div><!-- main_article end here //-->
                <section>
                <div class="col" id="secTempdataCol-1">        
                   
                </div><!-- col end here //-->
                <div class="col" id="secTempdataCol-2">        
                 
                </div><!-- col end here //-->
                </section><!-- section end here //-->
            
            </div><!-- colum-1 end here //-->
            <div class="column-2">
            
                        <div id="galleryContainer" style="display:none">
            <div class="secgallery">
            <div id="secTempimgGalleryTeaser"><img src="images/indicator.svg" /></div>
            <h2 id="gHeader">Slideshow <img src="images/icons/newwindow.svg" width="" id="gHeader" height="" /></h2>
            <div id="secTempimagegallery">
            <div class="secimagegalleryScroller">
                <ul id="secTempgalleryUL">
                </ul>
            </div> <!-- imagegalleryScroller end here //-->
        </div> <!-- imagegallery end here -->
            </div> <!-- gallery end here //-->
            </div> 
            <!-- galleryContainer end here //-->

            <!-- <br clear="all" /> -->

                <section>
                <div class="col" id="secTempdataCol-3">        
                   
              </div><!-- col end here //-->
                <div class="col" id="secTempdataCol-4">
                   
              </div><!-- col end here //-->
              </section><!-- section end here //-->

            </div><!-- column 2 ends here //-->



            
            <!-- </div> -->
            <!-- colum-2 end here //-->
            <div class="column-3">
            <section id="secTempdataCol-5">

              </section><!-- section end here //-->
            </div><!-- colum-3 end here //-->
        
        

    </div>
