html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family:'Georgia', Times New Roman, Times, serif;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none !important;
-webkit-touch-callout: none !important;-webkit-tap-highlight-color: rgba(0,0,0,0) !important;}



body {

-webkit-transform:translate3d(0,0,0);
-webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  position:relative;
  height:100%; 
  width:100%;
  max-height:100%;
  margin:0px;
    padding:0px;
    background:#000;
      -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none !important;-webkit-touch-callout: none !important;-webkit-tap-highlight-color: rgba(0,0,0,0) !important;

}
#galleryOverlay { position:absolute; z-index:560; left:0; top:0px; width:100%; height:100%; background:#000;}

#galleryContainerOne { position:absolute; z-index:555; left:0; top:0px; width:100% !important; height:100%; background:#000;}

#galleryPage { position:relative; overflow:hidden;}
#headerGallery {font-family: 'Georgia', Times New Roman, Times, serif; padding:15px; background:#fefefe;  color: #2e2d2d;}
#headerGallery h2 { margin:0px; padding:0px; font-weight: normal; color: #2e2d2d; font-size: 18px; text-transform: uppercase;
    font-family: 'Georgia', Times New Roman, Times, serif;}
#headerGallery h2 span.total {
    float: right; width: 100px; text-align: right;padding:0px 20px;margin-right: 100px; border-right:1px solid #eee;}
#headerGallery span.close{ color:#969696;  font-size:14px; font-weight:bold; cursor:pointer; text-transform:uppercase;  z-index:5; font-family:Arial; position:absolute; right:15px; top:15px;}
#headerGallery span.close > span.btn{font-family:Arial; color:#fff; margin:0px; margin-left:2px; line-height:100%; cursor:pointer; padding-top:8px; font-size:12px; width:30px; height:20px; display:inline-block;  vertical-align:baseline; font-weight:bold; text-align:center; background:#2467b5; border-radius:100%; -webkit-border-radius:100%;}


.swipe {

    background:#000;
    
}
#slider3 li {

  text-align:center;
  position:relative;
  vertical-align: middle;
}
#slider3 #sliderslist { margin:0px; padding:0px; background:;}

#slider3 #sliderslist li { background:; margin:0; padding:0;}

#slider3 #sliderslist  li div.figure { position:relative; display:table; margin:0 auto;  min-width:360px;
    width:auto; max-width:auto !important; }
#slider3 #sliderslist  li div.figure img{ width:auto; height:auto; max-width:100%; min-width:360px;}

#slider3 #sliderslist  li div.figure img, #slider3 #sliderslist li div.figure div.figcaption {
    display: table-cell;
    vertical-align: middle !important;
    text-align:center;
}

#slider3 #sliderslist  li div.figure div.figcaption { padding: 15px; margin: 0px; font-size: 12px;  
background:rgba(0, 0, 0, 0.5);overflow: hidden; color:#fff; position:absolute; bottom:0; left:0; right:0; text-align:left;}

#slider3 #sliderslist li div.figure div.figcaption h2 { font-size:20px; font-weight:normal; margin:0 0 10px 0; padding:0; color:#fff;}
#slider3 #sliderslist li div.figure div.figcaption p { color:#fff;}


@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
#slider3 #sliderslist li div.figure img { max-width:100% !important;}
}

@media only screen and (min-device-width: 768px) and (orientation:portrait) {
#slider3 #sliderslist li div.figure img { max-width:100% !important;}
}

#slider3 #sliderslist li div.figure img
{
-webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}




/* thumb scrolling tabs */
#footerGallery{position:absolute; bottom:0px!important; left:0; width:100%; height:footer-<length>; background:rgba(0, 0, 0, 0.8); z-index:50; padding: 0;}
.icons ul {margin:10px auto;padding:0px; position:relative; text-align:center; width:180px;}
.icons ul li {display:table-cell; width:auto; text-align:center;list-style:none;padding:0px;}
.icons ul li.arrow { position:absolute; right:0; top:0;}
.rotate {transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.icons ul li span {
	border:solid 1px #bababa;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; padding:8px;
	background-image: linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.68, rgb(247,247,247)), color-stop(0, rgb(240,240,240)), color-stop(0.34, rgb(229,229,229)) );
	display:block;	text-decoration:none;	text-align:center;	cursor:pointer;  color:#555555;  text-transform:uppercase;
  font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;
}
.icons ul li span img { vertical-align:top;!important;}



.thumbScroller { width:auto; margin:0; overflow:hidden !important; display:none;  }
.thumbScroller #thumbWrapper { border:0px solid #e9e9e9; margin:0; background:rgba(0, 0, 0, 1); }
.thumbScroller ul#thumbImages {height:170px;margin:0px;padding:0px; display: table;} 
.thumbScroller ul#thumbImages li  {min-width:150px; max-width:150px; height:auto; font-size:12px; color:#fff;
					display:table-cell; padding:15px 10px; vertical-align:top; text-align:left;
                    font-family:'Georgia', Times New Roman, Times, serif; list-style:none; text-overflow: ellipsis !important;overflow:hidden} 

.thumbScroller ul#thumbImages li > div { height:100px;width:auto; max-width:99%; overflow:hidden; box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.2);-moz-box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.2); margin:0 0 8px 0;-webkit-box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.2); }

.thumbScroller ul#thumbImages li:last-child  { margin-right:10px;}
.thumbScroller ul#thumbImages li img { max-width:100%; min-height:100px; max-height:auto;  display: block;}
.thumbScroller ul#thumbImages li p { font-size:12px; color:#fff; margin:0; padding:0;
					text-align:left; font-family:'Georgia', Times New Roman, Times, serif; }
.thumbScroller ul#thumbImages li.active { background:#2467b5;}
.thumbScroller ul#thumbImages li.active p {color:#fff; } /* .selected */



@media only screen and (orientation:landscape) 
{
  #galleryContainerOne 
  {
    width: 100%;
  }
}

@media only screen and (orientation:portrait) 
{
 #galleryContainerOne 
  {
    width: 100%;
  }
}
