/*#header-wrap { position:inherit !important;}*/
.article-content p { padding:5px 0 8px 0; }
p.articleLead { font-style:italic; color:#919191; margin-bottom:55px; font-size:16px;}
.article-content p:first-child { padding-top:0px;}
.article_container { position:absolute; top:0; left:0; width:100%;}



/* article stye here */
/* controls on article page */
ul.controls {width:auto; height:auto;float:right;margin:8px 0 0 0;padding:5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border:1px solid #eaeaea;  margin-right:0px;
/* fallback/image non-cover color */
   background-color: #f7f7f7; 
   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f7f7f7));
   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7); 
   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #ffffff, #f7f7f7);
   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #ffffff, #f7f7f7); overflow:hidden}
ul.controls li {display:inline;list-style:none; margin:0px; vertical-align:middle !important;padding:0px 8px; border-left:1px solid #efefef; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul.controls li a, ul.controls li a:link, ul.controls li a:hover {color:#0b61b6; text-decoration:none; font-size:16px; font-family:'Arial'; font-weight:bold;}
ul.controls li img { vertical-align:middle; height:auto; width:auto}
ul.controls li:first-child {border-left:none;}
ul.controls li.comments > span { 
background: url(../images/icons/comments_icon.svg) no-repeat 50% 50%;
background-size: 100%;
text-align: center;
padding: 3px 3px 0 3px;
color: #fff;
display: inline-block;
min-width: 20px;
height: 20px;
font-size: 85%;
vertical-align: middle;
line-height: 80%;

}




.article-content {
overflow:hidden; /*height:100%; */
 /* flexbox setup */
        display: -webkit-box;
        -webkit-box-orient: vertical ;
		-webkit-box-pack: center;

      
        display: -moz-box;
        -moz-box-orient: vertical ;
		-moz-box-pack: center;
		-moz-box-align: center;
      
        display: box;
        box-orient: vertical ;
		box-pack: center;
		box-align: center;

}
.article-content > div#header-wrap { height:88px; width:100%; clear:both; position:relative; }
.article-content > div#notification { height:55px; width:100%; clear:both; position:relative; }
.article-content > article {-webkit-box-flex: 1; -moz-box-flex: 1;   box-flex: 1; margin:5px 8px 0 8px;  }
.article-content > header { width:auto; clear:both; position:relative; margin:0 8px;}
.article-content footer {  width:auto; height:90px; background:#f4f4f4; text-align:center !important; }
.article-content header h3{ display:inline-block; font-size:16px; margin:18px 0 0 0; color:#454545; text-transform:uppercase; font-weight:lighter;}
.article-content header h2 {color:#005398; font-size:20px; font-weight:bold; clear:right;}
.article-content header h2 time, header h2 span { color:#919191!important;  font-size:13px; }
.article-content header h2 span { display:block;}
.article-content article { clear:both; overflow:hidden;  clear:both; } 
.article-content article:after { content:''; clear:both;} 
.article-content article > div#artWrapper { -webkit-box-flex: 1; -moz-box-flex: 1;   box-flex: 1; }
.article-content article > div#artWrapper div.multi-col {  height:inherit; -webkit-column-gap: 20px; /*-webkit-column-width: 285px;*/ -moz-column-gap: 20px;/* -moz-column-width: 285px;*/ column-gap: 20px;/* column-width: 285px; */ overflow:hidden; background:#ff000;}
.article-content article div.img { overflow: hidden; width:auto; height:auto; display:inline-block; max-width:300px; max-width: 100%;  max-height:350px; max-height: 100%; line-height:0; position:relative; column-break-after: right; -webkit-column-break-after: right; -moz-column-break-after: right;}
.article-content article div.img img { max-width:300px; max-height:450px; max-width: 100%; max-height: 100%;}
.article-content article p.caption{ color: #666666; font-size: 12px; font-style: italic; margin:0px; padding: 4px 0; border-bottom:1px solid #c2c2c2; margin-bottom:10px;  background:none !important;}
.article-content article div.img span.zoom{ position:absolute; z-index:555; bottom:5px; right:5px;}

/* 2 12 2012 */
.articleLead { font-style:italic; color:#919191; margin-bottom:45px !important; font-size:16px; font-weight:lighter;}

/* article scrolling tabs */
.article-content nav { width:auto; margin:12px 8px 0 8px; overflow:hidden !important;}
.article-content nav #headWrapper {  padding:5px 0 2px 0px;}
.article-content nav ul#navTab {height:89px;margin:0px;padding:0px; margin-bottom: 10px;
  display: -webkit-box;-webkit-box-orient: horizontal;
  display: -moz-box;-moz-box-orient: horizontal;display: box; 
  box-orient: horizontal; 
  } /* #artHeadlines for smart coding*/

.article-content nav ul#navTab li  {min-width:250px;  max-width:250px; border:1px solid #D4D4D4;border-right:none;padding:10px;height:90px;
          background:#fafafa;color:#005297;font-size:18px; list-style:none; 
          font-family:'Georgia', Times New Roman, Times, serif;font-weight: 400; 
          

          -webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
           box-sizing: border-box; -webkit-box-flex: 1; -moz-box-flex: 1;   box-flex: 1; 
           text-overflow: ellipsis !important; 
           } /* .articleHeadline  for smart coding*/
.article-content nav ul#navTab li > time {color: #919191 !important; font-family: 'Georgia';font-size: 12px !important;display:block;} /* .articleHeadline span smart coding */
.article-content nav ul#navTab li:last-child {border-right:1px solid #D4D4D4;} /* #artHeadlines li:last-child for smart coding */
.article-content nav ul#navTab li.active {z-index:10;position:relative;color:#6a6a6a; background:#fff;} /* .aHSelected */
.article-content nav ul#navTab li.active:after {content:'';display:block;position:absolute;z-index:9999;top:-12px; /*should be set to -border-width x 2 */ left:50%; margin-left:-6px; width:0;height:0;border-color: transparent transparent #0A60B3 transparent; /*border color should be same as div div background color*/  border-style: solid;border-width: 6px;} /* .aHSelected:after for smart coding */

.b_border { height:1px; display:block; border-bottom:1px solid #f1f1f1; margin:6px 0px;}

.articleHeadline { width:250px; border:1px solid #D4D4D4;border-right:none;padding:10px;height:90px;
          background:#fafafa;color:#005297;font-size:14px;font-weight:bold;
          font-family:Georgia, "Times New Roman", Times, serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
           box-sizing: border-box; -webkit-box-flex: 1; -moz-box-flex: 1;   box-flex: 1; list-style:none; text-overflow: ellipsis !important; }
.articleHeadline:last-child{ margin-right:25px;margin-right:0px;}
.articleHeadline span {color: #919191;font-family: Georgia;font-size: 12px;display:block;}

/* keywords_related  style here */

div.keywords_related { margin-top:20px; display:block; clear:both; color:#0861b3; padding:10px; background:#fafafa;
-webkit-column-break-before : avoid; -webkit-column-break-after : always; -webkit-column-break-inside : avoid; } 
div.keywords_related .relNews { cursor:pointer; -webkit-column-break-inside : avoid;}
div.keywords_related strong {color:#2f2f2f; }

/* social share style here */
#socialShare{width:30px; height:105px; display:none; z-index:100; position:absolute; overflow:hidden; right:0px;	top:45px; padding:5px; background: #F3F3F3;	border:solid 1px #CCC;}
#socialShare a {border:0; display:block; }
#socialShare a img{ display:block; }
#fbsharebutton { margin-top:5px;}
#emailTo_div{ margin-top:5px;}
#socialShare a:last-child{ margin:0px;}
/* to hide facebook comment box */
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
        display: none !important;
    }



#articleImages{
    background:rgba(0, 0, 0, 0.7);  height:100%; min-height: 100%; position:absolute; width:100%; z-index:1000;  display:none; overflow:hidden; top:0px; left:0px; opacity: 1;  }



#ascroller {
    height:auto; width:378px;
    position:relative;    /* On older OS versions "position" and "z-index" must be defined, */
    z-index:1;            /* it seems that recent webkit is less picky and works anyway. */
    background:#fafafa; border:10px solid #fafafa; border-radius:2px; -webkit-border-radius:2px;

}
#articleImages .img_container { height:auto; width:410px; position:relative;z-index:1;  /*left:50%; top:50%;margin:200px auto 0 auto;*/
margin-left:-205px; margin-top:100px; left:50%;   clear:both; }
.scrollerA {height:auto !important;float:left;padding:0;}
#aGalleryTeaser > .caption {border:0px;}
#aGalleryTeaser {position:absolute; top:130px; left:145px;   z-index:5; display:none;}
.scrollerA ul {list-style:none;display:block;width:100%; float:left;height:100%;padding:0;margin:0;text-align:left;}
.scrollerA li {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;display:block;float:left;height:auto; width:378px;}
.scrollerA li img { margin:0 auto; display:block; clear:right; width:auto; max-width:100%; height:auto !important; max-height:450px;}

.scrollerA li div.scaption { width:338px; z-index:111; padding: 20px;margin:0px;font-size:12px;background:#fafafa;    border-top:1px solid rgba(0, 0, 0, 0.5); color:#212121;}


#articleImages > .img_container > span.close_btn{  font-size:18px; font-weight:bold; cursor:pointer;  padding:6px 12px; vertical-align:middle; text-align:center; border-radius:100%; -webkit-border-radius:100%; z-index:3; font-family:Arial; position:absolute; right:0px; top:-12px; 
color:#0965b5;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#dddddd 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#dddddd 99%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#dddddd 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
border:solid 1px #bababa;
}

@media only screen and (orientation:landscape) { 

img#artImg{max-height:350px; max-width:320px; height: auto !important; width:auto; }
.article-content article > div#artWrapper div.multi-col {  -webkit-column-width: 320px !important; -moz-column-width: 320px !important;}  
}
@media only screen and (orientation:portrait) {

img#artImg{max-height:400px; max-width:350px;}

.article-content article > div#artWrapper div.multi-col {  -webkit-column-width: 350px !important; -moz-column-width: 350px !important;}  


}