* {-webkit-tap-highlight-color: rgb (0, 0, 0)}
body{font-family:'Georgia', Times New Roman, Times, serif;font-size:14px;word-wrap: break-word; color:#313131;}
.body {font-smooth: always !important;-webkit-font-smoothing: antialiased !important;}
a, img { border:none; text-decoration:none; outline:none;}


/* header styling for home page */
/*header style */
#header-wrap {
	position:absolute;
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	padding:0;
	/*background: url(../images/bg_header.jpg) #f4f4f4 left top repeat-x;*/
	/*height:88px;*/
}
/* header {height:88px;display:block;width:100%;top:0px;left:0px;position:absolute;z-index:2;} */

#overlayDiv {background:rgba(255, 255, 255, 0); width:100%; z-index:2; display:none; min-height:100%; position:absolute;}

div.header {height:49px;display:block;padding:0px;margin:0px; }
#sectionDisplayName { font-size: 14px; font-weight: 500; color:#186bb9;text-transform: uppercase;}
.header-nav span.updated_date {font-size:11px;color:#666;width:100%;display:block !important;text-align:center;margin:0 auto; height:20px; line-height: 20px; font-weight: normal;text-transform: lowercase;}
#header {
	/* basic styling */
	width: 100%;
	/*margin-bottom:2px;*/
	height: 47px;
	/* flexbox setup */
	display: -webkit-box; -webkit-box-orient: horizontal;display: -moz-box;-moz-box-orient: horizontal;display: box;box-orient:
	horizontal; background: #f4f4f4;}
	#header .logo, #header .header-icons, #header .header-nav  {-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1; width:33.33%}
	#header > .header-nav { padding-top:5px; text-align:center; position:relative; }
	#header .header-icons { text-align:right;}
	#header .header-icons ul{ float:right; padding-top:7px;}
	#header .header-nav { -webkit-box-pack: center; }
	#header .header-nav .news_sections img { margin-left:3px; vertical-align:middle; }
	#header	.logo img { margin:12px 0 0 10px;} 
	#header-wrap .news_headlines {position:relative !important; height:38px; overflow:hidden; margin:4px 0 0 0; clear:both !important; display:block; }
	#header-wrap .news_headlines strong {z-index:10px;background:#afafaf; font-size:14px; color:#ffffff; padding:8px; display:inline-block; position:relative; width:auto; float:left;}
	#header-wrap .news_headlines strong:after {	content: "";position: absolute;right: -17px; top: 0px;
								border-top: 17px solid transparent;border-bottom: 18px solid transparent;
								border-left: 18px solid #afafaf;}
	/* latest news style */
	/*#header-wrap ul.latest_updates {margin:0 0 0 22px; padding:8px 0px; width:auto; height:15px; display:inline-block; overflow: hidden;}
	#header-wrap ul.latest_updates li {list-style:none;margin:0px;padding:0px; display:inline; float:left; }	*/

/* 2 12 2012*/
	ul.latest_updates {	margin:0px;padding:8px;margin-left:20px;height:18px;width:auto;float:left;overflow: hidden; position:relative; }

ul.latest_updates li {list-style:none;height:30px;margin:0px;padding:0px; position:relative; /*background-color:#ffffff !important;*/}


	/* latest news style */


	
.header-icons ul {margin:0px;padding:0px;display:inline;}
.header-icons li {float:left;display:block;width:34px;text-align:center;list-style:none;margin-right:5px;padding:0px;}
.header-icons ul li a {
	border:solid 1px #bababa;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;height:30px;
	background-image: linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.68, rgb(247,247,247)), color-stop(0, rgb(240,240,240)), color-stop(0.34, rgb(229,229,229)) );
	display:block;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
}
.header-icons ul li a img { vertical-align:middle;!important; padding-top:6px;}


#currentArticleData {float:right;width:500px;}
.divider {border-bottom:solid 1px #e9e9e9;display:block;}
/* latest news style */


.promo_ad{height:auto; display:block; overflow:hidden; margin-left:10px; border-bottom:1px solid #e9e9e9; margin-bottom:10px; text-align:center}
.promo_ad img{ float:left; margin-right:5px;}
.promo_ad img:last-child{ margin:0;}
.powered_by { margin:0px 0 15px 0; background:; padding:0px;}
.about_hindu, .help, .manage_section {padding-bottom:15px;}
.powered_by p a, .powered_by p a:link { color:#00569d;}
.about_hindu p { margin:10px 0 10px 0;}
.about_hindu h6 { margin:20px 0 10px 0; padding:0; font-size:13px; font-weight:bold;}
.help ol { padding:0; margin:0 0 20px 25px;}
.help ol li{	padding:5px 0;	margin:0; color:#48acff; font-size:16px; font-weight:bold;	}
.help ol li p { margin:0px; color:#555555; font-size:14px; font-weight:normal;}
.alert_message{ line-height:32px; text-indent:20px;}

.about_hindu hr { margin:20px 0; height:1px; background:#d0d0d0; border:none; }
.about_hindu img.logo { margin-bottom:15px;}
.about_hindu, .help, .manage_section {padding-bottom:15px;}


.dashboardHelp p, .articleHelp p{ position:relative !important;}
.dashboardHelp a, .articleHelp a{ position:absolute; z-index:6666; padding:12px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}

.dashboardHelp a:nth-child(1) {top:44px; left:104px !important;  } 
.dashboardHelp a:nth-child(2) {top:4px; left:277px; display: none; } 
.dashboardHelp a:nth-child(3) {top:0px; left:324px;}
.dashboardHelp a:nth-child(4) {top:19px; left:325px; display: none;  } 
.dashboardHelp a:nth-child(5) {top:45px; left:314px;  }
.dashboardHelp a:nth-child(6) {top:86px; left:318px;  }
.dashboardHelp a:nth-child(7) {top:182px; left:247px; }
.dashboardHelp a:nth-child(8) {top:100px; left:250px;  }
.dashboardHelp a:nth-child(9) {top:263px; left:146px; }


.articleHelp a:nth-child(1) {top:46px; left:237px; }
.articleHelp a:nth-child(2) {top:20px; left:268px; }
.articleHelp a:nth-child(3) { top:0px; left:310px; }
.articleHelp a:nth-child(4) {top:58px; left:323px;  }
.articleHelp a:nth-child(5) {top:220px; left:254px; }
.articleHelp a:nth-child(6) {top:323px; left:254px;}
.articleHelp a:nth-child(7) {top:96px; left:263px;}



/* Search box style */
.search_box {border:2px solid #005297; padding:10px; width:auto;	display:inline-block;-webkit-box-shadow: 2px 2px 5px 3px #dddddd ;-moz-box-shadow: 2px 2px 5px 3px #dddddd ; box-shadow: 2px 2px 5px 3px #dddddd; position:absolute;display:none;	z-index:3; background:#fff; right:10px;top:50px;}
.search_box:after{content: ''; position: absolute; right:40px; top: -9px; width: 0; height: 0; 
					border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #005297;}
.search_box input[type=search]:-webkit-input-placeholder { color: #CCC; }
.search_box input[type=search] {-webkit-border-radius: 3px; width:200px;  border:none; border:1px solid #CCC; padding:8px;  -webkit-appearance: none; font-size:14px; color:#212121; outline:none;}
input.search
	{ background-image: linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 68%, rgb(240,240,240) 0%, rgb(229,229,229) 34%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.68, rgb(247,247,247)), color-stop(0, rgb(240,240,240)), color-stop(0.34, rgb(229,229,229)) );
	border:#bababa solid 1px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#0964b7;
	padding:8px 10px;font-weight:bold;cursor:pointer;}



	

/* search result page style here */
.search_result { overflow:hidden; border:1px solid #dbdbdb; padding:8px;}
.search_result .result > h2 { font-size:20px; font-weight:normal; color:#005398; margin:0 0px 10px 0;}
.search_result .result { padding:12px 0; border-bottom:1px solid #dbdbdb; margin-bottom:10px;}
.search_result .result:last-child{ border:none; margin:0px;}
.search_result .result img { float:left; margin:0 10px 10px 0;}
.search_result .result h2 time{ clear:both; display:inline-block; color:#919191; font-size:14px;}

#artHeadlines { height:89px;margin:0px;padding:0px; font-weight:display: -webkit-box;-webkit-box-orient: horizontal;display: -moz-box;-moz-box-orient: horizontal;display: box; box-orient: horizontal;}
#artHeadlines li:last-child {border-right:1px solid #D4D4D4;}

#loading {
position:absolute !important; z-index:88888; top:50%; display: block;  left:50%; margin: 0px;}
#loaderSmall { z-index:50; position:absolute; top:23px; left:255px; display:none; }


      
     

/*#splashAd{z-index:2000; background:#fff; width:100%; height:100%; position:absolute; top:0px; left:0px; overflow:hidden;} */
#splashAd{ position:absolute; top:0px; left:0px; z-index:2000; width:100%;height:100%;  background:#fff}
.ad{width:auto;margin:0px auto;height:auto; text-align:center;background:#F00;}
#adClose {padding:5px 12px; border:1px solid #FFFFFF; background-color:#CCCCCC; z-index:10; position:absolute; -moz-border-radius:100%;-webkit-border-radius:100%; font-family:Arial; font-size:16px; line-height:20px; right:10px; top:10px;}




#articleImages{
	background:rgba(0, 0, 0, 0.7); height:100%; min-height: 100%; width:100%; z-index:1000; position:absolute; display:none; overflow:hidden; top:0px; left:0px; opacity: 1;
}



#ascroller {
	height:auto; width:378px;overflow:hidden;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	margin:100px auto 0 auto;
	background:#fff; border:10px solid #fafafa; border-radius:2px; -webkit-border-radius:2px;
}
.scrollerA {height:auto !important;float:left;padding:0;}
.scrollerA ul {list-style:none;display:block;width:100%; float:left;height:100%;padding:0;margin:0;text-align:left;}
.scrollerA li {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;display:block;float:left;height:auto; width:378px;}
.scrollerA li img { margin:0 auto; display:block; clear:right; width:auto; max-width:100%; height:auto !important; max-height:450px;}
.scrollerA li p.caption { width:338px; z-index:111; padding: 20px;margin:0px;font-size:12px;background:#fafafa;	border-top:1px solid rgba(0, 0, 0, 0.5); color:#212121;}
#splashScreen {position:absolute; left:0px;  top:0px; z-index:33333; background:#000}

.notification_overlay
{
 width:100% !important;
 height:100% !important;
 background:rgba(225, 225, 225, 0.5);
 z-index: 9;
 display:block;
 position:absolute;
 top: 0;
 left:0;
}
#notification
{
 background: #f29011;
 -webkit-box-shadow:  0px 3px 3px 1px rgba(0, 0, 0, .2);
 -moz-box-shadow:  0px 3px 3px 1px rgba(0, 0, 0, .2);
        box-shadow:  0px 3px 3px 1px rgba(0, 0, 0, .2);
 position:absolute;
 top: 0;
 left:0;
 z-index: 10;
 height:55px;
 width: 100%;
 text-align: center;
}
#notification img
{
 vertical-align: top;
}
#notification a, #notification span{ width: 42%; padding-top: 15px; display: inline-block;; color:#fff; }
 

#notification .thehindu_web
{
 margin: 4px 0 0 35%;
}
#notification img.gap
{
 margin:8px 5px 0 5px;
}
#notification img.notification_close
{
 /*margin:10px 50px 0 100px;*/
 position:absolute;
 right:20px;
 top: 10px;
}
#notification .app_store
{
 margin:4px 0 0 0 ;
}


@media only screen and (orientation:landscape) { 
	#splashScreen { background:url(../images/land.png)}
}
@media only screen and (orientation:portrait) {
	#splashScreen { background:url(../images/port.png)}

#notification img.notification_close{right:10px;}
}