#wrapper p{ padding:5px 0 8px 0;}
.dashboard {
width: 98.4%; display: -webkit-box;-webkit-box-orient: horizontal;display: -moz-box;-moz-box-orient: horizontal;display: box; box-orient: horizontal; padding:8px !important;}

/* column 1 2 3 and gallery style */
.column-1, .column-3 {-webkit-box-flex: 1; -moz-box-flex: 1;   box-flex: 1;}
.column-1{ width:60%; width:55%;}
.column-2{ width:390px;}
.column-3 {width:40%; width:35%; min-width:200px;}
.column-1 .main_article, .column-1 .main_article article, .column-3 section article, column-2 .gallery 
{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}, column-2 .secgallery 
{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.column-1 .main_article{ background:#fafafa; border: 1px solid #e4e4e4;overflow:hidden; clear:both;}
.column-1 .main_article article{/*padding:10px; */ border-bottom:1px solid #e4e4e4; overflow:hidden } 
.column-1 .main_article article img { display: block;float: left;margin:0 10px 5px 0;}
.column-1 .main_article article:last-child{border-bottom:none} 
.column-1 section, .column-2 section
{ display: -webkit-box;-webkit-box-orient: horizontal;display: -moz-box;
  -moz-box-orient: horizontal;display: box; box-orient: horizontal;width:100%;}
.column-1 section .col, 
.column-2 section .col{ -webkit-box-flex: 1; -moz-box-flex: 1;box-flex: 1; border-right:1px solid #e4e4e4;}
.column-2 section .col { min-width: 195px !important;}
.column-1 section .col article, .column-2 section .col article{ /* padding:10px; */ }
div.col article { border-bottom:1px solid #e4e4e4; overflow:hidden; }

/*  This needs to done for web version also */
.column-1 .main_article article:first-child {height:360px;  position:relative; }
.column-1 .main_article article {height:140px;  position:relative; }
.column-1 .main_article article:first-child .art_content{height:340px; padding:10px; overflow:hidden !important; }
.column-1 .main_article article .art_content {height:180px; padding:10px; overflow:hidden !important; }


/* this is for cols */
.column-1 section .col article, .column-2 section .col article, .column-3 section article { height:400px;  position:relative; }
.column-1 section .col article .art_content, .column-2 section .col article .art_content, .column-3 section article .art_content{ height:380px; padding:10px; overflow:hidden !important; }
.column-1 section .col article .art_content:after, .column-2 section .col article .art_content:after, 
.column-3 section article .art_content:after, .column-1 .main_article article .art_content:after
{
	content: ""; position:absolute; bottom:0px; left:0px;height:30px;width:100%; 
	background: -moz-linear-gradient(top, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 70%, rgba(250,250,250,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0)), color-stop(70%,rgba(250,250,250,1)), color-stop(100%,rgba(250,250,250,1))); 
	background: -webkit-linear-gradient(top, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
	background: -o-linear-gradient(top, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
	background: -ms-linear-gradient(top, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#fafafa',GradientType=0 ); 
}




.column-1 .col img, .column-2 .col img, .column-3 article img{ margin:0px 0px 10px 0px; float:none; clear:both; }
.column-3 section article{ border-bottom:1px solid #e4e4e4; overflow:hidden;}
.column-1 .main_article article h2, .column-1 section h2, 
.column-2 section h2, .column-3 section h2 { font-size: 18px; color: #005398; margin-bottom:5px;}
.column-1 .main_article article:first-child h2{ color: #282828; font-size: 24px; word-wrap: break-word; }
.column-1 h3, .column-2 h3, 
.column-3 h3 {  text-transform:uppercase; font-size:13px; color:#282828; 
				margin:0 0 8px 0px; -webkit-font-smoothing: antialiased; font-weight:lighter;}
.column-1 .main_article article h2 time, .column-1 section h2 time, .column-2 section h2 time, 
.column-3 section h2 time{color: #919191 !important; font-size: 13px !important;display:block; margin:3px 0;}
.column-2 .gallery { width: 380px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
					 box-sizing: border-box; border:1px solid #e4e4e4; overflow:hidden; position:relative;
					 /*margin-bottom:10px; margin-left:10px;*/ margin: 10px 0 10px 10px;}
.column-2 .gallery h2{  text-transform:uppercase; font-size: 18px;padding: 8px 10px;display: block;background-color: #fafafa;
						border-bottom: 1px solid #e4e4e4;}
.column-2 .gallery h2 img {float: right;margin: 0px 0 0 0;cursor: pointer;}



.column-2 .secgallery { width: 380px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
					 box-sizing: border-box; border:1px solid #e4e4e4; overflow:hidden; position:relative; 
					 /*margin-bottom:10px;margin-left:10px;*/ margin: 0px 0px 10px 10px;}
.column-2 .secgallery h2{  text-transform:uppercase; font-size: 18px;padding: 8px 10px;display: block;background-color: #fafafa;
						border-bottom: 1px solid #e4e4e4;}
.column-2 .secgallery h2 img {float: right;margin: 0px 0 0 0;cursor: pointer;}



.column-2 .promo_ad{height:auto; display:block; overflow:hidden; margin-left:10px; border-bottom:1px solid #e9e9e9; margin-bottom:10px; text-align:center}
.column-2 .promo_ad img{ float:left; margin-right:5px;}
.column-2 .promo_ad img:last-child{ margin:0;}

/* home page dynamic image gallery style */
#imgGalleryTeaser, #secTempimgGalleryTeaser {position:absolute; top:125px; left:145px; z-index:5;}
#imagegallery {
	height: 295px; height:auto !important; width:378px;float:left;overflow:hidden;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	padding:5px 0 0 0; text-align:center;
}

.imagegalleryScroller {	/*  width:4500px; */ /*controlling from script */
height:100%;float:left;padding:0;}
.imagegalleryScroller ul {list-style:none;display:block;float:left;width:100%;height:100%;padding:0;margin:0;text-align:left;}
.imagegalleryScroller li {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;display:block;float:left;height:100%; width:378px;}
.imagegalleryScroller li img { margin:0 auto; display:block;}
.imagegalleryScroller li div.caption { padding: 10px !important; margin:0px;font-size:12px;  height:105px;	background:#fafafa; border-top:1px solid #e4e4e4; text-overflow: ellipsis; overflow:hidden}


.secimagegalleryScroller {	/*  width:4500px; */ /*controlling from script */
height:100%;float:left;padding:0;}
.secimagegalleryScroller ul {list-style:none;display:block;float:left;width:100%;height:100%;padding:0;margin:0;text-align:left;}
.secimagegalleryScroller li {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;display:block;float:left;height:100%; width:378px;}
.secimagegalleryScroller li img { margin:0 auto; display:block;}
.secimagegalleryScroller li div.caption { padding: 10px !important; margin:0px;font-size:12px;  height:105px;	background:#fafafa; border-top:1px solid #e4e4e4; text-overflow: ellipsis; overflow:hidden}


footer#advt { display: ;  width:100%; position:absolute; bottom:0px; height:90px; background:#f4f4f4; text-align: text-align: center !important;  z-index: 1; text-align: center; }
footer#advt:after
{
  content: ""; position:absolute; top:-15px; height:15px; width:100%; 
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); 
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); 
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); 
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); 
background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); 
}
/*@media only screen and (orientation:landscape) */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{ 

}
@media only screen and (max-width:979px)
/*@media only screen (orientation : portrait)*/
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) */
{
	.column-3{ display:none;}	
	.main_article article:first-child h2 { clear:left;} 
	
}
@media only screen and (max-width:699px)
{
	.column-1 section .col:nth-child(1){display:none;}
	#header .logo, #header .header-icons, #header .header-nav { width:auto;}
}
