*.container { margin:0 auto!important; overflow:hidden; width:1005px; display:block;}*/
#gallery-container {
  font-size:12px;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
  font-family:helvetica;
  float:left;
  margin:0px;
  padding:0px;
  word-wrap: break-word;
}
.slide-img-container {
  margin: 0px auto;
  border: 1px solid #e4e4e4;
}
.slides_show {
  background-color: #fafafa;
  color: #282828;
  width:100%;
  float:left;
  height:395px;
  text-align:center;
}
.image-caption {
  clear:both;
  padding:20px;
  background-color: #fafafa;
  border-top:1px solid #e4e4e4;
  float:left;
  /* width: 748px;*/
	color: #282828;
  font-size:12px;
}
#thumbnail-container {
  padding: 0px 0px;
  float:left;
  overflow: hidden;
  position: relative;
}
.slide-img-container h2, #thumbnail-container h2 {
  color: #717171;
  display:block;
  font-size:12px;
  margin:0px;
  font-weight: bold;
  text-transform:uppercase;
}
.slide-img-container h2 {
  background-color: #fafafa;
  border-bottom:1px solid #e4e4e4;
  padding:12px 0 12px 15px;
}
#thumbnail-container h2 {
  padding:12px 0px;
}
.slide-img-container h2 span.total {
    float:right;
    width:100px;
    text-align:right;
    margin-right:15px;
}
#outer-thumb-cont {
  border:solid 1px #e9e9e9;
  padding: 0px 0px;
  float:left;
  overflow: auto;
  margin:5px; 
}
#thumbscroller {
  margin:0px;
  padding-left:10px;
  position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
  z-index:1;
  position: relative;
  overflow: hidden;
  height: 400px;			/* it seems that recent webkit is less picky and works anyway. */
}
.scrollerG ul {
  list-style:none;
  display:block;
  float:left;
  width:100%;
  height:100%;
  padding:0;
  margin:0px;
  text-align:left;
}
.scrollerG ul li {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
/*  float:left; */
  font-family:georgia;
  font-size:18px;
  cursor:auto;
  word-wrap:break-word;
  vertical-align:top;
}
#thumbscroller .scrollerG li span {
  clear: both;
  color: #00569B;
  display: block;
  font-size: 12px;
  margin:5px 0 8px 0;
  text-align:left;
}
#thumbscroller .scrollerG li img {
  /*	border: 2px solid #FFFFFF; */
	box-shadow:  0 0 0px 2px #E4E4E4;
  -moz-box-shadow:  0 0 0px 2px #E4E4E4;
  -webkit-box-shadow: 0 0 0px 2px #E4E4E4;
  display: block;
}
/* Common style */
.scrollerG {
  float:left;
  padding:0;
  height: auto;
}
#big_imagegallery {
  float:left;
  position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
  z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
  overflow:hidden;
  margin-right: 25px;
  margin-top: 38px;
  margin-left: 15px;
  padding: 0px !important;
}
#big_imagegallery .imagegalleryScrollerBig {
  /*width:6800px; /* this width needs to control from javascript */
	height:100%;
  float:left;
  padding:0;
}
#big_imagegallery .imagegalleryScrollerBig ul {
  list-style:none;
  display:block;
  float:left;
  width:100%;
  height:100% !ipmoprtant; 
  padding:0;
  margin:0;
  text-align:left;
}
#big_imagegallery .imagegalleryScrollerBig li {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  float:left;
}
#big_imagegallery .imagegalleryScrollerBig li img {
  margin:0 auto;
  display:block;
}
#big_imagegallery .imagegalleryScrollerBig li div.caption {
  padding: 20px;
  margin:0px;
  margin:0px;
  font-size:12px;
  background:#FFFFFF;
  /*border-top:1px solid #E4E4E4*/
}
#big_imagegallery .imagegalleryScrollerBig li div.caption h3{
font-size: 16px;
color: #005398 !important;
font-weight:normal;
display: block;
margin: 0px 0px 5px 0px;
padding:0px;
}

  #big_imagegallery, #big_imagegallery .imagegalleryScrollerBig li {
    width:670px;
  }
@media only screen and (min-device-width: 1024px) and (orientation:landscape) {
  
/*  #gallery-container { width:1000px;} */

  #thumbscroller {
/*    width:100%; */
    height:530px;
    margin:6px;
    width:300px;
    overflow: scroll;
  }
   .slide-img-container {
    width: 670px;
    float:left;
    height:581px; 

  }
  .scrollerG {
    width:auto;
/*    padding:8px 5px; */
  }
  #thumbnail-container {
    position: relative;
    width:315px !important;
    float: left;
    margin-left:15px;
    

  }
  .scrollerG ul li {
    width:150px;
    padding:2px;
    display:inline-block !important;

    

  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 800px) and (orientation:portrait) {

/*  #gallery-container {
  	width:760px;
  }*/
  .container { width:auto;}
  .slide-img-container {
    width:670px;
    margin:0 auto !important;
    float:none;
    clear:both;
    overflow:scroll;
  }
/*  #outer-thumb-cont {
  	width:750px;
  }*/
  #thumbnail-container {
    width:752px;
    height:auto;
  }
  #thumbscroller {
    width:725px;
    margin:5px;
    height:auto;
    padding:5px;
    float:left;
  }
  .scrollerG { /* this width need to control from javascript */
   	 height:auto;
  }
  .scrollerG ul li {
    display:block;
    width:130px;
    float:left !important;
  }
  #thumbnail-container h2 {
  	padding-left:12px;
  }
}
ul#gBig li img { max-width:670px !important;}

ul#galleryUL li img { max-width:378px;}