ul,li {
	padding:0;
	margin:0;
	border:0;
}


p.news_sections img
{
/*	margin-left:8px; */
}
#nav {
	position:absolute;
	/*z-index:10;*/
	display:block; 
	/*float:left;*/
	background:#0968b7;
	border: solid 3px #005297;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
	width:195px;
	height:400px;  
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
	left:50%;
  	margin-left:-97.5px;
	background:rgba(9, 104, 184, 1);
	/*z-index:999;*/
}
.navarrow {
	content:'';
	display:none;
	position:absolute;
	z-index:9999;
	top:15px; /*should be set to -border-width x 2 */
	left:140px;
  	left:50%;
    margin-left:-5px;
	width:0;
	height:0;
	border-color: transparent transparent  #005297 transparent;
	border-style: solid;
	border-width: 8px;
	}

.navScroller {
	position:absolute; z-index:2000;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	background:rgba(9, 104, 184, 1);
}
.navScroller a
{
	color:#fff;
	padding:0 10px;
	display:block;
	text-decoration:none;
}

.navScroller a:hover 
/*,.navScroller a:active */
{
	color:#0968b7;
	background:#ffffff;
} 
.navScroller li.city a
{
	background:url(../images/icons/nav_arrows.svg)  no-repeat 95% 8px;
}
/*.navScroller li.city a:active,*/
.navScroller li.city a:hover
{
	color:#0968b7;
	background:#fff url(../images/icons/nav_arrows.svg) no-repeat 95% -14px;

}

.navScroller li.city_list a
{
	background:url(../images/icons/nav_arrows_left.svg) no-repeat 95% -14px;
}
/*.navScroller li.city_list a:active, */
.navScroller li.city_list a:hover
{
	color:#0968b7;
	background:#fff url(../images/icons/nav_arrows_left.svg) no-repeat 95% 8px;

}


.navScroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.navScroller li {
	padding:0px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #005297;
	/*background-color:#0968b7;*/
	background: transparent;

}
.navScroller li.sub
{
	background:#0059a3 !important; 
}
.navScroller li:last-child{ border-bottom:none;}
.navScroller ul#city_list
{
	display:none;
	position:absolute;
	
}
.news_sections {
    height:25px !important;
    margin:0 auto;
    width:inherit;
    display:inline !important;
    color:#005297;
    font-weight:lighter;
    cursor:pointer;
    text-transform:uppercase;
    
}
p.news_sections span, p.news_sections img{  vertical-align:middle !important;}

.new_section{ padding:0px; background:#0968b7; text-align:left; position:absolute;  width:195px;  z-index:5;  color:#fff; font-size:14px;left:50px; top:35px; border: solid 3px #005297;	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);box-shadow: 0px 0px 10px rgba(50, 50, 50, 1); 	font-family:Arial, Helvetica, sans-serif;}
.new_section strong { margin: 0 0 5px 0; padding:8px; background:#fff; display:block; color:#005297}
.new_section ul { margin:6px 0 0 0;}
.new_section ul li{list-style: none; padding:5px 10px;
	height:20px; line-height:20px;border-bottom:1px solid #005297;background-color:#0968b7;}
.new_section ul li:last-child{ border-bottom:none;}
.new_section ul li:hover { color:#0968b7;background:#ffffff;}
.new_section:before{ content:''; position:absolute;  border-color: transparent transparent  #005297 transparent;border-style: solid;border-width: 8px; top:-18px; left:90px;}
.new_section span{  font-size:16px; font-weight:bold; color:#fff; cursor:pointer;  padding:0 6px; vertical-align:middle; text-align:center; background:#afafaf; border:1px #666 solid; border-radius:25px; -webkit-border-radius:25px; z-index:5; font-family:Arial; position:absolute; right:-12px; top:-12px;}
@media only screen and (orientation:landscape){

}
@media only screen and (orientation:portrait){

}