html
{overflow: hidden !important;}
body {margin: 0; padding:0; font-family:'Georgia', Times New Roman, Times, serif;}
.navContainer { 
	display: block;
	clear:both; 
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 1);
    width: inherit;
    height: 40px;
    /*padding:1px 0;*/
    background: rgb(255,255,255);
    background-image: linear-gradient(bottom, rgb(231,231,231) 18%, rgb(255,255,255) 59%);
    background-image: -o-linear-gradient(bottom, rgb(231,231,231) 18%, rgb(255,255,255) 59%);
    background-image: -moz-linear-gradient(bottom, rgb(231,231,231) 18%, rgb(255,255,255) 59%);
    background-image: -webkit-linear-gradient(bottom, rgb(231,231,231) 18%, rgb(255,255,255) 59%);
    background-image: -ms-linear-gradient(bottom, rgb(231,231,231) 18%, rgb(255,255,255) 59%);

    background-image: -webkit-gradient(linear,
                        left bottom,left top,
                        color-stop(0.18, rgb(231,231,231)),
                        color-stop(0.59, rgb(255,255,255)));
    

}
.cities { 
	float: right; 
	width:210px; 
	font-size: 14px;
    /*background: #ff0000;*/
    /*margin-right: 3px;*/
    border: 2px solid #fff;
}

/* DEMO 2 */

.cities-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    /*width: 185px;*/
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    display: block;

    font-family: arial;
    text-transform: uppercase;;
    height: 16px;
    line-height: 16px;
    font-family: 'Georgia', Times New Roman, Times, serif !important;
    color:#fff;

    background-color: #4b4b4b; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808080), to(#4b4b4b));
   background-image: -webkit-linear-gradient(top, #808080, #4b4b4b); 
   background-image:    -moz-linear-gradient(top, #808080, #4b4b4b);
   background-image:     -ms-linear-gradient(top, #808080, #4b4b4b);
   background-image:      -o-linear-gradient(top, #808080, #4b4b4b);
}

.cities-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.bg{

    /*background:rgb(0,99,184);*/
    /*color: #fff;*/
}
.cities-dropdown .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    text-transform: capitalize;
    font-size: 14px;
    /* Styles */
    background: #3d8ad1;
    
    background: rgba(114,114,114,1)!important; 
    color:rgba(255,255,255,1)!important;
    
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    margin:0;
    padding: 0;
    border: 2px solid #fff;
    /*border-right:none;*/
    border-top:none;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2);
}

.cities-dropdown .dropdown li  {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid rgba(0,0,0,0.2); 
}

/* Hover state */

.cities-dropdown .dropdown li:hover {
    color: #fff;
    background: #a3a3a3;
}

/* Active state */

.cities-dropdown.active:after {
    /*border-width: 0;*/
    border-color: #fff transparent;

}

.cities-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;

}

/* No CSS3 support */

.no-opacity       .cities-dropdown .dropdown,
.no-pointerevents .cities-dropdown .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .cities-dropdown.active .dropdown,
.no-pointerevents .cities-dropdown.active .dropdown {
    display: block;
}

/* No CSS3 support: none */

#navigation {

	float: left;
	height: 40px;
	/*position: relative;*/
}

#Navscroller {
	/*width:1500px;*/
    min-width: 100%;
	height: 100%;
	float:left;
	padding:0;


}

ul li {
	margin:0;
	padding:0;
	list-style: none;
}
ul.TabNav {
	width: auto;
	margin:0;
	padding:0;
    display:table;
}
ul.TabNav > li {
    display: table-cell;
	text-align: left;
	margin: 0;
	height:40px;
    padding: 0 20px 0 20px;
	line-height: 40px;
	border-right: 1px solid #c9c9c9;
	-webkit-transition: all 200ms ease-in-out;
  	-moz-transition: all 200ms ease-in-out;
  	-ms-transition: all 200ms ease-in-out;
  	-o-transition: all 200ms ease-in-out;
  	transition: all 200ms ease-in-out;
  	font-size: 14px;
  	font-family: 'Georgia', Times New Roman, Times, serif;
  	text-transform: uppercase;
  	position:relative;
    float: none;
    /*min-width: 70px;*/
 }
ul.TabNav > li.subNav
{
    padding: 0 35px 0 20px;
    position:relative;
}
ul.TabNav > li.subNav:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 48%;
    margin-top: -3px;
    /*border-width: 6px 0px 6px 6px;*/
    border-width: 6px 6px 0px 6px;
    border-style: solid;
    border-color: #0a61b1 transparent ;

}

ul.TabNav > li.active {
	background:rgb(0,99,184);
	color: #fff;
    background-image: linear-gradient(bottom, rgb(0,77,141) 18%, rgb(0,99,184) 59%);
    background-image: -o-linear-gradient(bottom, rgb(0,77,141) 18%, rgb(0,99,184) 59%);
    background-image: -moz-linear-gradient(bottom, rgb(0,77,141) 18%, rgb(0,99,184) 59%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,77,141) 18%, rgb(0,99,184) 59%);
    background-image: -ms-linear-gradient(bottom, rgb(0,77,141) 18%, rgb(0,99,184) 59%);

    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, rgb(0,77,141)),
    color-stop(0.59, rgb(0,99,184))
);
}

ul.TabNav li.subNav.active:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 48%;
    margin-top: -3px;
	/*border-width: 6px 0px 6px 6px;*/
    border-width: 6px 6px 0px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

#subSecContainer {
    height: 40px !important;
    background: #a3a3a3;
    -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.5);
    /*position:relative;*/
}
#subSecContainer ul { 
	display:inline-block;
    margin: 0;
    padding:0;
	-webkit-padding-start: 0;
    position:relative;    
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    height: 40px;
    font-size: 14px;
    float:left;
    
}
#subSecContainer ul li { 
	margin:0; 
    padding: 0;
	height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 20px; 
	border:none; 
	display:inline-block;
    float: left;
	background: transparent;
	border-right: 1px solid #727272;
	color:#fff;

}
/*#subSecContainer ul li:last-child{ border:none; }*/
#subSecContainer ul li.subSecHighlight {
    background: rgba(114,114,114,0.7)!important; 
    color:rgba(255,255,255,1)!important;}

/* style for cities dropdown */

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

