#tabs {	z-index:2; right:10px; top:50px; position:absolute; width:405px; background:#005297; border:4px solid #005297; }
#about_hindu, #manage_section, #help, #insta_paper {
    height:450px !important; overflow:hidden; padding:15px; width:auto; background:#fff;
}
.about_hindu, .manage_section, .help, .insta_paper { padding-bottom:15px;}
#about_hindu h2, #manage_section h2, #help h2, #insta_paper h2 {
	font-size: 18px; color: #005398; display: block; font-weight: normal; margin: 0px 0px 4px; }
.dashboardHelp, articleHelp { margin-bottom:10px;}
.about_hindu p:first-child > img { margin-bottom:5px;}
#sortable { margin:0px; padding:0px;font-size:16px; font-family:Helvetica, sans-serif;}
#sortable ul li { margin:0px; padding:0px; }
#sortable li {
    list-style-type:none; border-bottom:solid 1px #dcdada; background:#fff; display:block;
    font-weight:bold; padding:12px 0px; vertical-align:middle;}
/*#sortable li.sub-section { padding-left:20px;}*/
#sortable li .sort-news { display:block; font-weight:bold; line-height:50px; border-bottom:solid 1px #dcdada; padding:0px; margin:0px;}

#sortable li.sub-section { padding-left:10px; text-transform:capitalize;}
#sortable li.sub-section1 { padding-left:25px; text-transform:capitalize;}
#manage_section input:focus { outline-color: #c00;}
#manage_section input[type=checkbox] {
    -webkit-appearance: none; background:#0861b3; border-color:#0861b3; display: inline-block; padding: 10px; margin-right:8px;
    -webkit-border-radius: 15px; vertical-align: text-top; border:none; }
#manage_section input[type=checkbox]:checked {
    background: url(../images/icons/check_on.png) #0861b3 no-repeat center center; -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;}
ul li span { vertical-align:top; }
.handle { float:right; margin:4px; text-align:center; line-height:64px; color:#fff; }
#sortable li img { position:relative; float:right; padding-top:1px; display:block; margin:0px; position:relative; }
.activity { background:#0968b7; margin-top:20px; margin-bottom:10px; display:block; color:#fff; padding:10px; }
.submit {
    background-image: linear-gradient(bottom, rgb(229,229,229) 34%, rgb(255,255,255) 56%, rgb(250,250,250) 78%);
    background-image: -o-linear-gradient(bottom, rgb(229,229,229) 34%, rgb(255,255,255) 56%, rgb(250,250,250) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 34%, rgb(255,255,255) 56%, rgb(250,250,250) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 34%, rgb(255,255,255) 56%, rgb(250,250,250) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 34%, rgb(255,255,255) 56%, rgb(250,250,250) 78%);
    background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.34, rgb(229,229,229)),  color-stop(0.56, rgb(255,255,255)),  color-stop(0.78, rgb(250,250,250)) );
    border:#bababa solid 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:5px 10px;
    font-weight:bold; cursor:pointer;}
.tabs li { list-style:none; display:inline; position:relative; }
.tabs:after 
/*.tabs li:first-child > a:after */
{
    content: ''; position: absolute; right: 2px; top: -10px; width: 0; height: 0;
    border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #005297;}
.tabs a { padding:8px 12px; display:inline-block; background:#0968b7; color:#fff; font-size:15px; text-decoration:none; }
.tabs a.active { background:#fff; color:#212121;}
#comments_tab{z-index:2; right:10px; top:50px; position:absolute; width:350px; background:#005297; border:4px solid #005297; height: 350px;display: none;}
#comments_tab li { list-style:none; display:inline; position:relative; }
#comments_tab:after {
content: '';
position: absolute;
right: 35px;
top: -12px;
width: 0;
height: 0;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 8px solid #005297;
}
#comments_tab a {
padding: 8px 12px;
display: inline-block;
color: #fff;
font-size: 15px;
text-decoration: none;
}
#comments_tab a.active {

color: #fff;
font-size: 15px;
font-weight: bold;
}

#comments, #recommended{
    height:312px !important; overflow:hidden; padding:0 12px; width:auto; background:#fff;
}
#comments:after
{
    content: ""; position:absolute; bottom:0px; left:0px;height:30px;width:100%; 
    background: -moz-linear-gradient(top, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 70%, rgba(250,250,250,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0)), color-stop(70%,rgba(250,250,250,1)), color-stop(100%,rgba(250,250,250,1))); 
    background: -webkit-linear-gradient(top, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
    background: -o-linear-gradient(top, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
    background: -ms-linear-gradient(top, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(250,250,250,1) 70%,rgba(250,250,250,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#fafafa',GradientType=0 ); 
}


#comments p {margin-bottom: 15px; font-size: 13px !important; border-bottom: 1px solid #eee !important;}
#comments p br {margin-bottom: 10px !important;clear: both; }

#commentsOverlay { height:100%; width:100%; background:rgba(0,0,0,0); z-index:2; position:absolute; top:0; left:0; display:none;}

#Commentslist {
padding: 8px 5px;

}